.Header{
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(#09009f, #00ff95);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 100px;
}

.Desc{
    text-align: center;
    color:blue;
}
 
  .child {
    width: 200px;
    height: 100px;
    background-color: red;
    /* Center horizontally*/
    margin: 350px auto;

    
}
